.icones{
    vertical-align: middle;
}

.campo-digitacao{
    font-size: 20px;
    height: 120px;
} 
.frase{
    font-size: 20px;
    text-align: left;
}

.campo-desativado{
    background-color: lightgray;
}

.borda-padrao{
    border: 3px solid black;
}

.borda-azul{
    border: 3px solid blue;
}

.borda-vermelha{
    border: 3px solid red;
}

.borda-invisivel{
    outline: none;
}
